div{ float:left;}
#center{width:1020px;height:100%; font-size:14px;}
#t{background-color:#ea68a2; height:90px; padding:10 0;}
#t2{background-color:#AE57A4; height:90px; padding:10 0;color:#FFFF37;}
#left{background-color:red; height:1000px;}
#left{width:150px; }
#right{position:fixed;right:10px;top:40px;height:100%;width:200px; font-size:16px;font-weight:bold;}
#right a:link{color:green;font-size:20px;}
#right a:hover{ color:black;}
#right img{width:200px;}
img{width:200px; height:300px; }
table{width:220px; height:350px; padding:5,20; }
a{margin:5px 20px; text-decoration:none;}
a:link{color:blue;}
a:hover{color:red;}
.pong{width:35px;height:30px; margin:5px;vertical-align:middle;}
#center .mytable{ opacity:0.5;}
.title{vertical-align:middle; width:350px; height:70px;}
p{color:FFFF6F;font-size:25px;}
#con{font-size:60px; color:white;}
#tiao{color:#808040; font-size:18px;}
#tiao:hover{color:red;}
